h1 {color: red; background-color: chartreuse;}
p {color: chocolate;}

*{margin: 0;
padding: 0;
box-sizing: border-box;}

.texto {color: crimson;}
.textodestacado {background-color: aquamarine;}
#enlaceunico {color: darkgreen;}